@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', 'Courier New', Courier, monospace;
}

body {
    width: 100vw;
    height: 100vh;
}

.navbar {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.navbar > .logo {
    font-weight: 700;
    font-size: 20px;
}

li {
    list-style-type: none;
    border-left: 1px solid lightgray;
    padding-left: 8px;
    cursor: pointer;
    transition: 0.3s;
}

li:hover {
    scale: 120%;
}

body h3 {
    text-align: center;
    padding-top: 16px;
}

.home > h5 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.home .refresh {
    width: 400px;
    background-color: palegreen;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 43, 0);
    border-left: 3px solid darkgreen;
    border-right: 3px solid darkgreen;
}

.form-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container > .failed {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 400px;
    margin-bottom: 16px;
    background-color: lightsalmon;
    color: rgb(88, 0, 0);
    border-left: 3px solid darkred;
    border-right: 3px solid darkred;
    font-weight: 700;
}

form {
    padding: 32px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: whitesmoke;
}

form >  h3 {
    margin-bottom: 16px;
}

form > input {
    margin-bottom: 16px;
    width: 300px;
    height: 40px;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid lightgray;
}

form > input:nth-child(4):hover {
    background-color: lightgray;
}